.range-slider {
  .horizontal-slider {
    background-color: #f9f9f9;
  }
  p {
    margin-top: 8px;
  }
  .example {
    &-track {
      height: 100%;
      &-0 {
        background-color: #f9f9f9;
      }
      &-1 {
        // background-color: $c3;
         background-color: #fb8303;
      }
      &-2 {
        background-color: #f9f9f9;
      }
    }

    &-thumb {
      // background-color: $c3;
      background-color: #fb8303;
      border: 0;
      width: 12px;
      box-shadow: none;
      border-radius: 3px;
      color: $white;
      text-align: center;
      top: -7px;

      &.active,
      &:active,
      &:focus,
      &:focus-within,
      &:focus-visible {
        box-shadow: none !important;
        border: 0 !important;
        outline: 0;
      }
    }
  }
}
